/* This is container for APP */
.appcontainer{
  width: 100%;
  height: 800px;
}

/* This is Container for URL input from users */
.inputcontainer{
  width: 100%;
  margin-top: 125px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inputcontainer h1{
  font-family: cursive;
  font-size: 3.5rem;
}

.inputcontainer div{
  display: flex;
}

.inputcontainer h1 span{
  color: brown;
}

.inputcontainer input{
  width: 450px;
  /* height: 3rem; */
  padding: 0.5rem 0.2rem 0.5rem 0;
  text-indent: 1rem;
  font-size: 1rem;
  border: 1px solid gray;
  border-radius: 5px;
}

.inputcontainer button{
  height: 42px;
  width: 100px;
  font-family: cursive;
  font-weight: bold;
  border: none;
  text-transform: uppercase;
  border-radius: 5px;
  color: white;
  background-color: brown;
  cursor: pointer;
}

.inputdate{
  width: 100px !important;
  margin-left: 1px;
  margin-right: 1px;
  color: gray;
  text-indent: 0.5rem !important;
}
/* **** User Input section ends  */

/* *** Short URL display section *** */
.showurl{
  display: flex;
  align-items: center;
  justify-content: center;
}

.showurl p{
  margin-right: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

.showurl button{
  cursor: pointer;
  background-color: white;
  border: 1px solid black;
  color: brown;
  border-radius: 5px;
  /* font-size: 15px; */
  font-weight: bold;
  font-family: cursive;
  margin-top: 10px;
}

/* Navbar section */
.navstyle{
  font-size: 25px;
  background-color: transparent;
}

.navstyle a{
  text-decoration: none;
  font-size: 25px;
  font-family: cursive;
  margin-right: 10px;
  color: gray;
}

.navstyle a span{
  color: brown;
  font-size: 35px;
}

.tabledata{
  width: 60% !important;
  margin-top: 50px;
  height: 50%;
}